body {
  background: linear-gradient(120deg, grey, rgb(67, 67, 93));
}

h1 {
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

img {
  max-width: 450px;
  height: auto;
  display: block;
  margin: auto;
}

.block {
  display: block;
  margin: auto;
  border: solid;
  border-radius: 20%;
}

.odin {
  max-height: 350px;
  width: auto;
}

.recetas {
  font-size: 24px;
}

ul,
ol {
  font-size: 20px;
  font-weight: 700;
}
