body {
  background: linear-gradient(120deg, rgb(121, 118, 57), rgb(202, 183, 86));
}

h1 {
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.home {
  text-decoration: underline;
  text-decoration: wavy;
  font-size: 18px;
  position: fixed;
  border: solid;
  border-color: rgba(194, 194, 10, 0.299);
  border-radius: 20px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

.descripcion {
  font-style: oblique;
}

img {
  border: solid;
  border-radius: 20%;
  max-width: 450px;
  height: auto;
  display: block;
  margin: auto;
}

.block {
  display: block;
  margin: auto;
  border: solid;
  border-radius: 20%;
}

.odin {
  max-height: 350px;
  width: auto;
}

.recetas {
  font-size: 24px;
}

div,
ul,
ol {
  font-size: 20px;
  font-weight: 700;
  text-indent: 1em;
}
